/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Tajawal", sans-serif;
  color: #253272;
}

a {
  color: #253272;
  text-decoration: none;
}

a:hover {
  color: #21bbef;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Tajawal", sans-serif;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bold{
  font-weight: 600;
}
.blue{
  color:#21bbef;
}


.gray{
  background-color:#dfdfec;
}

.mt-30{
  margin-top: 30px;
}
.mt-80{
 margin-top: 80px;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.float-center {
  float:initial !important;
  text-align: center;
}


.container-menu {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.collapse-button {
  float: right !important;     
  padding-right: 15px;
}
#mega-menu-holder>ul> li:last-child> a:before {display:inline !important;}
#mega-menu-holder>ul> li:first-child> a:before {display: none !important; }
#mega-menu-holder>ul> li> a {
  font-size: 15px !important;
  padding: 20px 12px 20px 12px !important;
}

@media (max-width: 991px){
#mega-menu-holder>ul> li> a {
    padding: 0 15px !important;
    text-align: right !important;
  }

}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #21bbef;
  border: 2px solid #21bbef;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #253272;
  border: 2px solid #fff;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header-one {
  position: relative;
  font-family: "Tajawal", sans-serif;
}


.header-one .logo img {
  width: 160px !important;
  margin-top: -22px;
}


.header-one .top-header .address-wrapper {
  padding-top: 10px;
}

.header-one .top-header  .download-app{
background-color: #000;
border: 2px solid #000;
    border-radius: 20px;
    padding: 6px;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
  }

.header-one .top-header  .download-app:hover{
  background-color: #fff;
    border: 2px solid #000;
    }

    .header-one .top-header  .download-app img{
      height: 60px;
    }
  
        
  .header-one .top-header  .download-app:hover img{
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(200%) contrast(97%);
      }
    
    
.header-one .top-header .address-wrapper .address .icon  {
  background-color: #b9c0d5;
  padding: 10px;
  font-size: 30px;
  border-radius: 50%;
  margin-left: 20px;
  color: #fff;
  float: left;
  position: absolute;
  left: 0;
}


.header-one .top-header .address-wrapper .address h6 {
  font-family: "Tajawal", sans-serif;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #626e91;
  margin-top: -2px;

}

.header-one .top-header .address-wrapper .address span {
  font-size: 17px;
  color: #626e91;
  font-weight: 600;
}


.header-one .top-header .address-wrapper  .address .DELIVERY{
  font-family: "Tajawal", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #626e91;
  margin-top: -2px;
}
.header-one .top-header .address-wrapper .address .DELIVERYspan {
  font-size: 17px;
  color: #626e91;
  font-weight: 600;

}


.header-one .top-header {
  background: #fff;
  padding: 30px 0 10px 0;
}

.header-one .top-header .address-wrapper li {
  display: inline-block;
  vertical-align: middle;
}


.header-one .top-header .address-wrapper .address {
  position: relative;
  padding: 0 0 0 80px;
  margin-left: 15px;
}




.header-one .top-header .address-wrapper .address:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 1px;
  height: 42px;
  background: #e8e8e8;
}


.header-one .top-header .address-wrapper .address:first-child {
  margin-left: 15px;
}

.header-one .theme-menu-wrapper {
  position: relative;
  z-index: 99;
  margin-bottom: -42px;
}

/* Hide slimmenu collapser on desktop */
.menu-collapser {
  display: none;
}
@media (max-width: 991px) {
  .menu-collapser {
    display: block;
  }
}

.header-one .theme-menu-wrapper .bg-wrapper {
  background: #253272;
  position: relative;
  padding-left: 25px;
  overflow: hidden;
}



.language-icon {
  position: relative;
   z-index:1000;
  display: inline-block;
  vertical-align: middle;
}

.language-icon a {
  background-color: #fff;
  border: 2px solid #fff;
  color:#253272;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  display: block;
  margin-left: 15px;
  margin-top: 13px;
  font-family: "Tajawal", sans-serif;
  font-size: 15px;
  font-weight: 800;
}

.language-icon a:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff
}


@media (max-width: 991px) {
  .header-one .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .collapse-button {
    padding-left: 14px;

  }


  #mega-menu-holder>ul>li>a:before {
    content: '' !important;

  }

  .header-one .top-header {
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .header-one .theme-menu-wrapper .bg-wrapper {
    padding-left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }

  .header-one .menu-wrapper,
  .header-two .menu-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
  }

  .header-one .theme-menu-wrapper {
    margin-bottom: -31px;
  }

  #mega-menu-holder>ul>li.active>a,
  #mega-menu-holder>ul>li:hover>a,
  #mega-menu-holder>ul>li.active>.sub-toggle,
  #mega-menu-holder>ul>li:hover>.sub-toggle {
    color: #253272 !important;
  }

  .language-icon a {
    margin-right: 10px;
    margin-top: 0;
    font-size: 14px;
    padding: 4px 10px;
  }

  .ipad {
    float: none !important;
    width: 100%;
    text-align: center;
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
  .header-one .theme-menu-wrapper {
    background: #253272;
    margin-bottom: 0;
  }
  .header-one .theme-menu-wrapper .bg-wrapper {
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: #253272;
  }
  .collapse-button {
    padding-left: 0px;
  }
  .ipad {
    padding-left: 0px;
  }
  .header-one .top-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 78vh;
  background-color: rgba(22, 30, 56, 0.8);
  overflow: hidden;
  position: relative;
  top: -40px;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#hero .container {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  transition: 0.3s;
  color: #253272;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #253272;
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #253272;
}

#hero .btn-get-started {
    font-family: "Tajawal", sans-serif;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: #253272;
}

#hero .btn-get-started:hover {
  background: #21bbef;
}

@media (max-width: 992px) {
  #hero {
    height: 50vh;
    top: -10px
  }

  #hero .carousel-container {
    top: 8px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

#main{
margin-top:-40px;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom:0px;
  padding-bottom: 14px;
  position: relative;
  color:#253272;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: #21bbef;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
#About us
--------------------------------------------------------------*/
.about{
  
  background-color:#dfdfec;
}


.about .section-title {
  text-align: center;
  padding-bottom: 30px;
}

.about .content p {
  font-weight: 500;
  font-size: 20px;
  color:#253272;
  text-align: justify;
}



 .about .content .more-details {
  font-size: 17px;
  line-height: 25px;
  font-weight: 800;  
  display: inline-flex;
   width: 145px;
  color: #fff;
  background-color: #21bbef;
  padding: 5px 12px;
  border: 1px solid #21bbef;
  border-radius: 50px;
}

.about .content .more-details:hover{
  color: #fff;
  background-color: #253272;
  border: 1px solid #253272;

}

.about .content .more-details i {
  font-size: 20px;
  padding-right: 5px;
  line-height: 25px;
}
/*--------------------------------------------------------------
# Balance
--------------------------------------------------------------*/
.Balance{
padding-top:30px;
padding-bottom:20px;
}

.Balance h4 {
  text-align:right;
  font-size: 24px;
  color: #253272;
  font-weight: 800 !important;
}


.Balance h6 {
  text-align: right;
  font-size: 24px;
  margin-top: -5px;
  color: #21bbef;
  font-weight: 800 !important;
}

.Balance p {
  text-align:right;
  font-size: 17px;
  color: #626e91;
}

/*--------------------------------------------------------------
# video
--------------------------------------------------------------*/
.video{
  padding-top: 160px;
  padding-bottom:0px !important;
  background-color: #b6c2d1;
  background-image: url(footer.jpg);  
  background-repeat: no-repeat; 
  background-attachment: scroll;
  background-position: center top;
}

.video .section-title {
  text-align: center;
  padding-bottom: 30px;
}

.video .section-title h2 {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom:0px;
  padding-bottom: 14px;
  position: relative;
  color:#fff;
}

.video .section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: #21bbef;
  bottom: 0;
  left: calc(50% - 20px);
}

.video .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ce1212 50%, rgba(206, 18, 18, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.video .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(206, 18, 18, 0.7);
  top: -14%;
  left: -13%;
  background: rgba(198, 16, 0, 0);
}

.video .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.video .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

.video .play-btn:hover:after {
  border-left: 15px solid #ce1212;
  transform: scale(20);
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


/*--------------------------------------------------------------
# Delivery
--------------------------------------------------------------*/
.Delivery{
  padding-top: 260px;
  background-color: #fff;
  background-image: url(footer2.jpg);  
  background-repeat: no-repeat; 
  background-attachment: scroll;
  background-position: center top;
}

.Delivery .title h2{
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  text-align:right;
  padding-bottom: 5px;
  color: #253272;
  
}

.Delivery p {
  font-weight: 500;
  font-size: 17px;
  color: #626e91;;
  text-align: justify;
}

.Delivery .contact-list{
  font-family: "Tajawal", sans-serif;
  display: inline-flex;
  padding-bottom: 10px;
    text-align: left;    
    color: #626e91;
    font-size: 22px;
    font-weight: 700;
}
.Delivery i {
  font-size: 22px;
  padding: 8px;
  color:#fff;
  background-color: #21bbef;
  border-radius: 50px;
  margin-right: 5px;
}

.Delivery .contact-list a {
color:#626e91;
text-decoration: underline;
}

.Delivery .contact-list a:hover {
  color:#21bbef;
  text-decoration: underline;
  }
  

  

@media (max-width: 991px) {
  .Delivery .contact-list{
      font-size: 20px;
  }
}

@media (max-width: 575px) {
  .Delivery .contact-list{
    font-size: 15px;
}

.Delivery i {
  font-size: 19px;
}
}


/*--------------------------------------------------------------
# page
--------------------------------------------------------------*/
.theme-inner-banner {
  background: url(path.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #707d9e;
}

.section-spacing {
  margin-bottom: 80px;
}

.theme-inner-banner .overlay {
  text-align: center;
  padding: 110px 0 70px 0;
}
.theme-inner-banner .overlay h2 {
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 1px;
  position: relative;
  color: #253272;
  text-transform: uppercase;
}



.theme-inner-banner .overlay h2:before,
.theme-inner-banner .overlay h2:after {
  content: "";
  width: 70px;
  height: 4px;
  background:#21bbef;;
  display: inline-block;
}

.theme-inner-banner .overlay h2:before {
  margin: 0 15px 10px 0;
}

.theme-inner-banner .overlay h2:after {
  margin: 0 0 10px 15px;
}

.page{

    padding: 40px 0;
}

.page .paragraph h2 {
  font-size: 24px;
  text-align: right;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom:5px;
  position: relative;
  color:#253272;
}
.page .paragraph span{
  font-size: 28px;
  color:#21bbef;
}
.page .paragraph p {
  font-weight: 500;
  font-size: 18px;
  color:#253272;
  text-align: justify;
}

.page ul {
  list-style: none;
}

.page ul li{
  color: #253272;
    font-size: 17px;

}

.page ul li::before {
  content: "\2022";
  color: #21bbef;
  font-weight: bold;
  display: inline-block; 
  font-size: 20px;
  width: 1em;
  margin-left: 0em;
}


@media (max-width: 575px) {
  .theme-inner-banner .overlay h2 {
    font-size: 35px;

  }
  
  
  
  .theme-inner-banner .overlay h2:before,
  .theme-inner-banner .overlay h2:after {
    content: "";
    width: 50px;
    height: 3px;
    background:#21bbef;
    display: inline-block;
  }
  
}



/*--------------------------------------------------------------
# products
--------------------------------------------------------------*/
.products .icon-box {
  text-align: center;
  border: 1px solid #d5e1ed;
  padding: 80px 20px;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
    width: 100%;
}

.products .icon-box .icon {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.products .icon-box .icon i {
  font-size: 66px;
}


.products .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.products .icon-box h4{
  color: #253272;
}

.products .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.products .icon-box:hover {
background: #f1f1f7;
}

.products .icon-box:hover .icon {
}

.products .icon-box:hover .icon i {
  color: #21bbef;
}

.products .icon-box:hover .icon::before {
  background: #21bbef;
}


/*--------------------------------------------------------------
#category section
--------------------------------------------------------------*/

.category .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 13%);
}

.category .member .member-img {
  position: relative;
  overflow: hidden;
}


.member .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.member .portfolio-wrap img {
  transition: all 0.4s linear;
}

.member .portfolio-wrap .portfolio-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  text-align: center;
  background: rgba(37, 50, 114, 0.6);
  padding-bottom: 30px;
}

.member .portfolio-wrap .portfolio-info h4 {
  font-size: 16px;
  color: #fff;
  padding-top: 5px;
  font-weight: 800;
}



.member .portfolio-wrap .portfolio-info a {
  color: #fff;
  margin: 0 4px;
  font-size: 50px;
  line-height: 1;
  padding-top: 7px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
}

.member:hover .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.member:hover .portfolio-wrap .portfolio-info {
  opacity: 1;
  padding-bottom: 0;
}

.member:hover .portfolio-wrap:hover img {
  transform: scale(1.1);
  transition: all 0.4s linear;
}




.category .member .member-info {
  padding: 15px 15px 0px 15px;
}

.category .member .member-info h4 {
  font-weight: 700;
  margin: 10px 0 20px 0;
  font-size: 17px;
  color: #253272;
}


/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  margin-bottom: 30px;
}

.gallery #gallery-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.gallery #gallery-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #253272;
  margin-bottom: 5px;
  transition: all 0.3s;
}

.gallery #gallery-flters li:hover,
.gallery #gallery-flters li.filter-active {
  color: #21bbef;
}

.gallery #gallery-flters li:last-child {
  margin-right: 0;
}

.gallery .gallery-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(37, 50, 114, 0.6);
}

.gallery .gallery-wrap::before {
  content: "";
  background: rgba(37, 50, 114, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.gallery .gallery-wrap .gallery-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery .gallery-wrap .gallery-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.gallery .gallery-wrap .gallery-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.gallery .gallery-wrap .gallery-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.gallery .gallery-wrap .gallery-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.gallery .gallery-wrap .gallery-links {
  text-align: center;
  z-index: 4;
}

.gallery .gallery-wrap .gallery-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 48px;
  display: inline-block;
  transition: 0.3s;
}

.gallery .gallery-wrap .gallery-links a:hover {
  color: #21bbef;
}

.gallery .gallery-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.gallery .gallery-wrap:hover .gallery-info {
  opacity: 1;
}

.gallery .gallery-wrap:hover .gallery-info::before {
  top: 15px;
  left: 15px;
}

.gallery .gallery-wrap:hover .gallery-info::after {
  bottom: 15px;
  right: 15px;
}



/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
  cursor: pointer;
}

.events .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.events .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.events .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}

.events p{
margin-bottom: 40px;
}


.events .card-title {
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.events .card-title a {
  color: #253272;
  transition: 0.3s;
}

.events .card-text {
  color: #253272;
  text-align: justify;
}


.events .calendar {
  color: #626e91;
  text-align: center;
  font-size: 14px;
  margin-top:-14px;
  margin-bottom: 30px;
}

.events .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.events .read-more a:hover {
  color: #21bbef;
}

.events .card:hover img {
  transform: scale(1.1);
}

.events .card:hover .card-body {
  border-color: #21bbef;
}

.events .card:hover .card-body .card-title a {
  color: #21bbef;
}


/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact-us .info {
  width: 100%;
  background: #fff;
}

.contact-us .info i {
  font-size: 25px;
  background: #21bbef;
  color: #fff;
  float: right;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  line-height: 25px;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact-us .info h4 {
  padding: 0 60px 0 0;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #253272;
}

.contact-us .info h5 {
  padding: 0 10px 0 0;
  line-height: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Tajawal", sans-serif;
  margin-bottom: 5px;
  color: #253272;
}

.flex{
  line-height: 25px;
  display: flex;
  text-align: right;
  margin-top: 20px;
}
.contact-us .info p {
  padding: 0 60px 0 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #626e91;
}



.contact-us .php-email-form {
  width: 100%;
  background: #fff;
}

.contact-us .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact-us .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-us .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact-us .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact-us .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-us .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact-us .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact-us .php-email-form input,
.contact-us .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact-us .php-email-form input:focus,
.contact-us .php-email-form textarea:focus {
  border-color: #21bbef;
}

.contact-us .php-email-form input {
  height: 44px;
}

.contact-us .php-email-form textarea {
  padding: 10px 12px;
}

.contact-us .php-email-form button[type=submit] {
  background: #21bbef;
  border: 0;
  padding: 10px 30px;
  font-weight: 600;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact-us .php-email-form button[type=submit]:hover {
  background: #253272;
}


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #253272;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer img{
  width: 150px;
  margin-bottom: 30px;
}


#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #253272;
  color: #fff;
  border: 2px solid #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #fff;
  color: #253272;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}
